 @charset="utf-8";
 .body{width: 750px;
	margin: 0 auto;
}
header{margin-top: 20px;
	font:26px '微软雅黑';
}
nav{width: 750px;
  position: fixed;
   bottom: 0;
    background: #fff;
}
nav li{float: left;
  margin: 14px 0 15px 0;
      width:78px;
      text-align: center;          
}
nav li:first-child{margin-left: 44px;}
nav li:nth-child(2){margin-left: 128px;}
nav li:nth-child(3){margin-left: 108px;}
nav li:last-child{margin-left: 117px;}
nav li a{display: inline-block;
         font: 26px '微软雅黑';
         color: black;
}
/*section{
	padding-bottom:150px;
}*/
